<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Article Show</title>
</head>
<body>
    <%- include('../partials/navbar.ejs') %>
    
    <h1>Article Show Page</h1>
    <h2><%= article.title %></h2>

    <!-- Convert this to a link that will take us to the author show page -->
    <a href="/authors/<%= article.author._id %>">
        <p><%= article.author.authorName %></p>
    </a>

    <p><%= article.content %></p>

    <a href="/articles/<%= article._id %>/edit">Edit this Article</a>

    <form action="/articles/<%= article._id %>?_method=DELETE" method="post">
        <input type="submit" value="Delete Article"/>
    </form>
</body>
</html>